$pc: #8dbf41;
*{
    font-family: 'Raleway', sans-serif;
}
.sc2_img{
    width: 100%;
}
.sc2_title{
    margin: 0;
    color: #8dbf41;
   font-size: 60px;
}
.sc2-tags{
    margin: 0;
    color: #8dbf41;
    padding: 10px 14px;
    border: solid 1px #8dbf41;
    font-size: 25px;
    display: inline-block;
    font-weight: 500;
}
.sc2-p{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 300;
   color: #464646;
}
.sc2_texti a{
    color: #414851;
}
.sc2_text{
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
    color: #8d939b;
}

.sc2_cercive{
    margin: 8% 0;
}